
html, body, .full-height {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #222;
}

.chat-component {
  width: 100%;
  height: 100%;
  background: #222;
}

.chat-component * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}


.chat-component .body {
  white-space: pre-wrap; 
  word-wrap: break-word; 
}

.chat-component .wrapper {
  display: flex;
  height: 100vh;
}

.chat-component .sidebar {
  width: 250px;
  height: 100%;
  background-color: #333;
  padding: 45px 25px 25px 25px;
  overflow-y: auto;
  transition: transform 0.3s ease;
}


.chat-component .main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-component .name {
  font-weight: bold; /* Полужирный шрифт */
  font-size: 14px; /* Размер шрифта */
  color: #ffffff; /* Белый цвет текста */
  padding: 2px 10px; /* Внутренние отступы */
  margin-bottom: 2px; /* Отступ снизу */
  background: linear-gradient(45deg, #918d8d60, #5a5858);
  border-radius: 5px; /* Закругленные углы */
  display: inline-flex; /* Для корректного отображения отступов и размера */
}


.chat-component .name-shifted {
  margin-left: 65px; /* Отступ, чтобы элемент не наезжал на кнопку */
  transition: margin-left 0.3s ease; /* Добавлено свойство transition для плавного перехода */
}

.chat-component .chat {
  list-style: none;
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

.chat-component .chat li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  word-wrap: break-word; /* Позволяет переносить слова на новую строку */
}

.chat-component .chat-item.active {
  background-color: #555; /* Цвет для активного чата */
}

.chat-component .message {
  display: flex;
  flex-direction: column;
  max-width: 56.5%;
  height: auto;
  padding: 10px;
  word-wrap: break-word; /* Позволяет переносить слова на новую строку */
}


.chat-component .message.self {
  align-self: flex-end; /* Выравнивание сообщений пользователя по правой стороне */
  background-color: #424242;
  border-bottom-right-radius: 0; /* Закругление внизу справа */
  margin-left: auto; /* Отодвигает блок от левого края */
}


.chat-component .message.other {
  align-self: flex-start; /* Выравнивание сообщений других пользователей по левой стороне */
  background-color: #424242;
  border-bottom-left-radius: 0; /* Закругление внизу слева */
  margin-right: auto; /* Отодвигает блок от правого края */
}

.chat-component .message-content {
  display: flex;
  flex-direction: column;
}

.chat-component .timestamp {
  font-size: 12px;
  align-self: flex-end; /* Выравнивание сообщений других пользователей по левой стороне */
  color: #8f8e8e;
  margin-top: 5px; /* Отступ сверху для отделения от текста сообщения */
}

.chat-component .form {
  display: flex;
  align-items: center;
  background: #3e3e3e;
  border-radius: 14px;
  gap: 15px;
  padding: 10px;
  margin: 10px;
}

.chat-component textarea {
  resize: vertical; /* Разрешает изменение размера только по вертикали */
  border: none;
  flex: 1;
  max-height: 200px;
  min-height: 40px;
  height: 40px;
  border-radius: 10px;
  background: #333333;
  outline: none;
  padding: 10px;
  color: white;
  overflow-y: auto; /* Автоматическая прокрутка по вертикали */
  position: relative; /* Важный для абсолютного позиционирования ручки изменения размера */
}

/* Скрыть визуально ручку изменения размера, но оставить ее функциональной */
.chat-component textarea::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 15px;
  height: 15px;
  background: transparent;
  cursor: se-resize;
}

.chat-component textarea::-webkit-resizer {
  display: none; /* Скрыть дефолтный резайзер в Webkit */
}

/* Кастомная прокрутка */
.chat-component ::-webkit-scrollbar {
  width: 14px; /* Ширина скроллбара */
}

.chat-component ::-webkit-scrollbar-track {
  background: #333; /* Цвет дорожки скроллбара */
  border-radius: 10px;
}

.chat-component ::-webkit-scrollbar-thumb {
  background-color: #555; /* Цвет ползунка скроллбара */
  border-radius: 10px;
  border: 3px solid #333; /* Обводка вокруг ползунка, чтобы был виден зазор */
}

.chat-component ::-webkit-scrollbar-thumb:hover {
  background-color: #444; /* Цвет ползунка при наведении */
}

.chat-component ::-webkit-scrollbar-corner {
  background: #333; /* Цвет углового квадрата в правом нижнем углу */
  border-radius: 10px;
}

.chat-component .form .send {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 110px;
  border-width: 0;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #fff;
  border: none;
  flex-direction: row;
  font: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.chat-component .form .send:hover {
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
}

.chat-component .chat-list {
  list-style: none;
  padding: 0;
}

.chat-component .chat-item {
  padding: 10px;
  margin-bottom: 12px;
  background-color: #1e1e1e;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-component .chat-item:hover {
  background-color: #52404083;
}

.chat-component .chat-item.active {
  background-color: #9b9b9b;
}

.chat-component h2 {
  color: white;
  margin-bottom: 15px;
}

.chat-component .chat-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.chat-component .sidebar-container .button-container {
  display: none;
}

.chat-component .sidebar-container {
  width: 250px;
  transition: width 0.3s ease, margin-left 0.3s ease; 
}

.chat-component .sidebar-container-hidden {
  width: 0;
  margin-left: 0px; /* Скрываем контейнер */
}

.chat-component .toggle-sidebar-btn {
  position: absolute;
  background: none;
  border: none;
  left: 25px;
  top: 10px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.chat-component .toggle-sidebar-btn:focus,
.chat-component .toggle-sidebar-btn:active,
.chat-component .toggle-sidebar-btn:hover {
  outline: none;
  background: none;
}

.chat-component .toggle-btn-container {
  position: absolute;
  width: 250px;
  height: 50px;
  z-index: 1000;
}

.chat-component .sidebar-container-hidden .toggle-btn-container {
  width: 0px;
}

.chat-component .sidebar-hidden {
  transform: translateX(-250px);
}