body{
  margin: 0;
  padding: 0;
  background-color: var(--p-background-color);
}

.chat-component {
  /* width: 100%;
  height: 100%;
  
  background-color: var(--p-background-color); */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  display: flex;
  height: 100%;
}

.left-panel{
  padding: 0.3rem;

  background-color: var(--p-panel-background-color);
}

.left-panel-header-container{
  margin: 0.2rem 0 0.2rem 0;

  gap: 0.2rem;

  border-color: var(--p-border-color);
}

.search-field-box {
  /* margin: 1em 0 1em 0;
  height: 3em; */
}

.search-field {
  width: 100%;
  height: 100%;
}

.chat-group-button-box{
  width: 100%;
}

.chat-group-button {
  height: 2rem;
  --p-button-border-radius: 0px;

  --p-button-primary-background: var(--p-panel-background-color);
  --p-button-primary-border-color: var(--p-panel-background-color);
  --p-button-primary-color: var(--p-button-secondary-color);
}

.chat-group-inner-box{
  min-height: 0.2rem;

  border-radius: 1rem;
  border: solid 2px;
  border-color: var(--p-content-border-color);

  background-color: var(--p-background-color);
}

.chat-list{
  margin: 0  0.25rem 0  0.25rem;
  padding: 0;
}

.chat-item {
  padding: 0.5rem;
  margin-bottom: 0.3rem;
  background-color: var(--p-button-secondary-background);
  
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-item.active {
  background-color: var(--p-button-secondary-active-color); 
}

.chat-item:hover {
  background-color: var(--p-button-secondary-hover-color); 
}

.chat-item-text{
  margin: 0;
  margin-left: 5px;
}


.avatar-vlaue{
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 0;
  transform: translateX(50%) translateY(-50%);

  font-size: 0.5rem;
  padding: 0 0.2rem 0 0.2rem;

  background-color: var(--p-primary-500);
  border: solid 2px;
  border-radius: 6px;
  border-color: var(--p-content-border-color);
}

.avatar-base{
  position: relative;
}

.avatar-platform-icon{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateX(25%) translateY(25%);
}

.dialog-main{
  height: 100%;

  background-color: var(--p-background-color);
}

.dialog-header-container{
  padding: 0.5rem 0 0.2rem 0;

  background-color: var(--p-panel-background-color);

  border: solid ;
  border-width: 0px 0px 2px 0px;
  border-color: var(--p-content-border-color);
}

.dialog-messges-base {
  list-style: none;
  padding: 12px;
  margin: 0px;
  gap: 12px;
}

.dialog-date-container{
  /* position: sticky; */
  position: relative;
  top: 0px;
  z-index: 1;
  margin: 2px;
}

.dialog-date{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  text-align: center;

  background-color: var(--p-primary-color);

  border: solid 2px;
  border-radius: 6px;
  border-color: var(--p-content-border-color);

  width: 6rem;
}

.message {
  width: -moz-fit-content; 
  width: fit-content; 
  min-width: 120px;
  max-width: 100%;

  padding: 6px;

  border: solid 2px;
  border-radius: 6px;
  border-color: var(--p-content-border-color);

  gap: 6px;
}

.message.max-mode{
  max-width: 50%;
}

.message:has(.galleria){
  width: 100%;
}

.message-self {
  background-color: var(--p-primary-color); 

  margin-left: auto;   
}

.message-self.max-mode{
  margin-left: 0px;
  margin-right: auto;
}

.message-other {
  background-color: var(--p-primary-contrast-color); 

  margin-right: auto;
}

.message-sender-name {
  font-weight: bold; 
  font-size: 0.75rem;
  
  padding: 0px 4px 0 4px; 
  border-radius: 5px; 
  width: max-content;
  display: inline-flex;


  word-break: break-word; 
  max-width: 100%; 


  color: var(--p-text-color); 
  background: var(--p-primary-500);
}

.message-timestamp {
  font-size: 0.5rem;
  align-self: flex-end; 
  color: var(--p-button-secondary-hover-color);
}

.message-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 100%;
  width: -moz-fit-content; /* Для поддержки Firefox */
  width: fit-content; /* Для остальных браузеров */
  word-break: break-word;  
}


/* Форма отправки сообщения */

.dialog-submit-form {
  background: var(--p-panel-background-color);

  border: solid 2px var(--p-content-border-color);
  border-radius: 14px;

  gap: 15px;
  padding: 10px;
  margin: 10px;
}

.dialog-submit-div{
  gap: 15px;
}

.dialog-submit-message-text {
  resize: none;
}

.dialog-buttons-group{
  gap: 5px;
  flex-direction: column-reverse;
}

.dialog-button-send {
  /* position: relative;
  top: 50%;
  transform: translateY(-50%); */
  width: 2rem;
  height: 2rem;
}

::-webkit-scrollbar {
  width: var(--p-scrollpanel-bar-size); 
}

::-webkit-scrollbar-thumb {
  background-color: var(--p-scrollpanel-bar-background); 
  border-radius: var(--p-scrollpanel-bar-border-radius);
}

.message-scroll::-webkit-scrollbar {
  display: none; /* скрыть скроллбар в Webkit-браузерах */
}

.dialog-submit-file-scroll{
  gap: 15px;
}

.w-scrollbar::-webkit-scrollbar {
  width: auto; 
  height: var(--p-scrollpanel-bar-size); 
}

.left-drawer-container{
  height: 100%;
}









button {
  /* padding: 10px 20px; */
  height: 2rem;
  width: 100%;

  background-color: var(--p-button-color);
  /* font-size: 15px; */
  font-family:"Helvetica Neue",sans-serif;

  color: var(--p-button-text-color);

  /* border: none; */
  /* border-radius: 10px; */
  /* cursor: pointer; */
  /* transition: background-color 0.3s; */
}

.button_exit{
  margin-left: auto;
  height: 30px;  
  width: 70px;
  background-color: #3e3e3e;
  border-width: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
} 

.button_exit:hover{
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
}
