/* Полный экран */
.full-screen{
    min-width: 100vw;
    min-height: 100vh;
}

/* Полная высота */
.full-height{
    height: 100vh;
}

.full-width{
    width: 100vw;
}

/* Выравнивение по центру */
.center-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Список flex */
.flex-list{
    display: flex;
    flex-direction: column;
}

/* Список flex */
.flex-list-w{
    display: flex;
    flex-direction: row;
}

/* Заполнитель flex */
.flex-scale{
    flex-grow: 1;
}


/*  */
.overflow-h-hiddne{
    overflow-y: hidden;
}

.overflow-w-hiddne{
    overflow-x: hidden;
}


/*  */
.overflow-h-auto{
    overflow-y: auto;
}

.overflow-x-auto{
    overflow-x: auto;
}

.align-items-center{
    align-items: center;
}
