/* Полный экран */
.full-screen{
    min-width: 100vw;
    min-height: 100vh;
}

/* Выравнивение по центру */
.center-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Список flex */
.flex-list{
    display: flex;
    flex-direction: column;
}