.file-list{
    width: 100%;
}

.miniature-button{
    min-width: 5rem;
    width: 5rem;
    height: 5rem;
    --p-button-padding-y: 2px;
    --p-button-padding-x: 2px;

    margin: 2px;

    position: relative;

    --p-button-primary-border-color: var(--p-content-border-color);
}

.miniature-button:hover{
    filter: brightness(50%);
}

.miniature-image-container{
    width: 100%;
    height: 100%;
}

.miniature-image{
    object-fit: contain;
}

.miniature-file-text{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    width: 100%;
}

.miniature-acthion-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
}

.miniature-button:hover .miniature-acthion-button{
    display: block;
}

.miniature-button:hover .pi-file{
    display: none;
}

.miniature-button:hover .miniature-file-text{
    display: none;
}

.miniature-delete-button{
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translate(-100%, 0%);
}

::-webkit-scrollbar {
    width: var(--p-scrollpanel-bar-size); 
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--p-scrollpanel-bar-background); 
    border-radius: var(--p-scrollpanel-bar-border-radius);
}

.w-scrollbar::-webkit-scrollbar {
    width: auto; 
    height: var(--p-scrollpanel-bar-size); 
}

.miniature-acthion-progressbar{
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    width: 100%;
}

.drawer-heder-container{
    width: 100%;

    position: relative;
}

.drawer-heder-container-text{
    margin: 2px;
    
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.drawer-content-container{
    position: relative;

    width: 100%;
    height: 100%;
}

.drawer-content-container-image-comp{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.drawer-content-container-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.drawer-content-container-video{
    width: 100%;
    height: 100%;
}

.drawer-content-container-file-container{
    width: auto;
    height: auto;
    /* background-color: transparent; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.drawer-content-container-file-text{
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.drawer-content-container-file-container-icon{
    /* position: relative; */
    /* left: 50%; */
    /* transform: translate(-50%, 0%); */
}

.drawer-content-container-slide-left{
    position: absolute;

    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    filter: invert(0.5);

    /* display: none; */
}

.drawer-content-container-slide-right{
    position: absolute;

    top: 50%;
    right: 0%;
    transform: translate(-100%, -50%);

    filter: invert(0.5);

    /* display: none; */
}
